<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @contact.contactnumber %>
</p>

<p>
  <strong>Project:</strong>
  <%= @contact.project %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Fulladdress:</strong>
  <%= @contact.fulladdress %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @contact.fullname %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
